p {
  font-size: 20px;
}

h3 {
  color: #00A4EF;
  font-weight: 600;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.button {
  position: relative;
  max-width: 95%;
  height: 60px;
  background-color: #00A4EF;
  margin: 0 auto;
  text-align: center;
}

.button a {
  position: relative;
  padding: 0px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
}

.form-control {
  color: #4080FC;
}

.switch-field {
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 50%;
  height: 60px;
  background-color: #9EBEFC;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: solid;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #00A4EF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.switch-field label::before {
  display: none;
}

.switch-field label::after {
  display: none;
}
