<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div *ngIf="!user">
    <p class="text-center">Hola, selecciona un
      <br> canal para solicitar tu cotización</p>
    <div class="text-center">
      <button class="loginBtn loginBtn--facebook" (click)="signInWithFB()">
        Cotiza con Facebook
      </button>
      <button style="margin-top:15px;" class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
        Cotiza con Google
      </button>
    </div>
  </div>
</div>

<div *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="container">
        <p class="text-center">Bienvenido {{user.name}}, proporciona tus datos a continuación para obtener más información</p>
        <div class="form-group">
          <label for="usr">Nombre completo</label>
          <input type="text" class="form-control" id="usr" value="{{user.name}}">
          <div class="form mx-auto" style="margin-top:15px;">
            <div class="switch-field">
              <input type="radio" id="Negocios" name="hotel" value="Negocios">
              <label for="Negocios" style="text-transform: unset;">Cotización personal</label>
              <input type="radio" id="Placer" name="hotel" value="Placer">
              <label for="Placer" style="text-transform: unset;">Cotización empresarial</label>
            </div>
          </div>
          <label for="pwd">Nombre de empresa</label>
          <input type="text" class="form-control" id="pwd">
          <label for="pwd">Teléfono de contacto</label>
          <input type="text" class="form-control" id="pwd">
          <label for="pwd">Correo electrónico</label>
          <input type="text" class="form-control" id="pwd" value="{{user.email}}">
          <label for="pwd">Ciudad</label>
          <input type="text" class="form-control" id="pwd">
        </div>
        <br>
        <div class="button text-center">
          <a routerLink="/ok">¡Envía tu información!</a>
        </div>
      </div>
    </div>
  </div>
</div>
