<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="container">
        <div class="card">
          <img class="card-img-top" src="https://drive.google.com/uc?id=15mS0Xtsp4f3ZijOnlnj2izd8RqENOqKg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: black">Publicidad en Internet</h5>
            <p class="card-text" style="color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">koomkin.com.mx</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label for="pwd">Nombre de empresa</label>
      <input type="text" class="form-control" id="pwd">
      <label for="pwd">Teléfono de contacto</label>
      <input type="text" class="form-control" id="pwd" value="{{userDetails.phoneNumber}}">
      <label for="pwd">Correo electrónico</label>
      <input type="text" class="form-control" id="pwd" value="{{userDetails.providerData[0].email}}">
      <label for="pwd">Ciudad</label>
      <input type="text" class="form-control" id="pwd">
    </div>
  </div>
</div>
