<div class="container">
  <div class="row">
    <div class="container">
      <p class="text-center">Bienvenido /nombre usuario/, proporciona tus datos a continuación para obtener más información</p>
      <div class="form-group">
        <label for="usr">Nombre completo</label>
        <input type="text" class="form-control" id="usr">
        <label for="pwd">Nombre de empresa</label>
        <input type="text" class="form-control" id="pwd">
        <label for="pwd">Teléfono de contacto</label>
        <input type="text" class="form-control" id="pwd">
        <label for="pwd">Correo electrónico</label>
        <input type="text" class="form-control" id="pwd">
        <label for="pwd">Ciudad</label>
        <input type="text" class="form-control" id="pwd">
      </div>
      <br>
      <br>
      <br>
      <div class="button text-center">
        <a routerLink="/ok">¡Envía tu información!</a>
      </div>
    </div>
  </div>
</div>