<div class="container">
  <h3 class="text-center">Cotiza con un click</h3>
  <div class="form-group" *ngIf="!userDetails">
    <p class="text-center">Hola, selecciona un
      <br> canal para solicitar tu cotización</p>
    <div class="text-center">
      <img class="auth" src="../assets/img/facebook.svg" alt="" (click)="signInWithFacebook()">
      <img class="auth" src="../assets/img/google.svg" alt="" (click)="signInWithGoogle()">
      <img class="auth" src="../assets/img/twitter.svg" alt="" (click)="signInWithTwitter()">
      <hr>o si prefieres
      <hr>
      <a routerLink="/noSocial">
        <img class="auth" src="../assets/img/koomkin.svg">
      </a>
    </div>
  </div>

  <!-- Social Media Login -->
  <div *ngIf="userDetails">
    <div class="row">
      <div class="container">
        <p class="text-center">Bienvenido
          <b>{{userDetails.displayName}}</b>, proporciona tus datos a continuación para obtener más información</p>
        <div class="form-group">
          <label for="usr">Nombre completo</label>
          <input type="text" class="form-control" id="usr" value="{{userDetails.displayName}}">
          <div class="form mx-auto" style="margin-top:15px;">
            <div class="switch-field">
              <input type="radio" id="Negocios" name="Company" value="Negocios" (click)="showCompany(false)">
              <label for="Negocios" style="text-transform: unset;">Cotización
                <br>personal</label>
              <input type="radio" id="Placer" name="Company" value="Placer" (click)="showCompany(true)">
              <label for="Placer" style="text-transform: unset;">Cotización
                <br>empresarial</label>
            </div>
          </div>
          <div *ngIf="show">
            <label for="pwd">Nombre de empresa</label>
            <input type="text" class="form-control" id="pwd">
          </div>
          <label for="pwd">Teléfono de contacto</label>
          <input type="text" class="form-control" id="pwd" value="{{userDetails.phoneNumber}}">
          <label for="pwd">Correo electrónico</label>
          <input type="text" class="form-control" id="pwd" value="{{userDetails.providerData[0].email}}{{userDetails.email}}">
          <label for="pwd">Estado</label>
          <input type="text" class="form-control" id="pwd">
          <label for="pwd">Ciudad</label>
          <input type="text" class="form-control" id="pwd">
        </div>
        <button type="button" class="btn btn-primary" (click)="logout()">¡Envía tu información!</button>
      </div>
    </div>
  </div>
  <br> {{userDetails.providerData[0].providerId}}
</div>
