<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h5 class="text-cennter" style="color: black">Información de tarjeta</h5>
      <hr>
      <label for="pwd">Título</label>
      <input type="text" class="form-control" id="pwd" maxlength="30" [(ngModel)]="model.title">
      <div class="text-right">
        <b class="caracteres">Caracteres {{model.title.length}}/30</b>
      </div>
      <label for="pwd">Contenido</label>
      <textarea rows="5" class="form-control" id="pwd" [(ngModel)]="model.description" maxlength="256"></textarea>
      <div class="text-right">
        <b class="caracteres">Caracteres {{model.description.length}}/256</b>
      </div>
      <label for="pwd">Imagen     .</label>
      <label class="file-label">
        <input class="file-input" type="file" (change)="startUpload($event.target.files)">
      </label>
      <div *ngIf="percentage | async as pct">
        <label for="pwd">Cargando...</label>
        <progress style="width: 100%;" [value]="pct" max="100"></progress>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h5 class="text-cennter" style="color: black">Vista previa</h5>
      <div style="margin-top:50px"></div>
      <div class="container">
        <div class="card">
          <div *ngIf="downloadURL | async as url">
            <img class="card-img-top" [src]="url" alt="">
          </div>
          <img class="card-img-top" src="{{model.image_url}}" alt="">
          <div class="card-body">
            <h5 class="card-title" style="color: black">{{model.title}}</h5>
            <p class="card-text" style="color: black">{{model.description}}</p>
            <p class="card-text">koomkin.com.mx</p>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <p>*Este gráfico demuestra es una vista previa de la tarjeta a generar, su apariencia puede variar mínimamente dependiendo
          el sitio donde se publique.</p>
      </div>
      <div class="text-center">
        <button type="button" class="btn-primary" (click)="postCard()">Generar</button>
      </div>
      <!-- <h5>Card URL</h5>
      <input type="text" class="form-control" id="pwd" value="http://187.162.208.218:4200/twitter/card?user_id={{model.user_id}}">
      -->
    </div>
  </div>
</div>
