<div id="UserId" class="container" *ngIf="!show">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <div class="card">
        <br>
        <h4>Genera una nueva campaña</h4>
        <p>Ingresa el ID de usuario para generar una nueva campaña.</p>
        <div class="container">
          <input type="number" class="form-control" id="pwd" max="99999" min="0" [(ngModel)]="id">
        </div>
        <br>
        <div class="text-center">
          <button type="button" class="btn-primary" (click)="newElement()">Genera una campaña</button>
        </div>
        <br>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">
      <div class="card">
        <br>
        <h4>Optimiza una campaña</h4>
        <p>Ingresa el ID de usuario para optimizar una campaña.</p>
        <div class="container">
          <input type="number" class="form-control" id="pwd" max="99999" min="0" [(ngModel)]="id">
        </div>
        <br>
        <div class="text-center">
          <button type="button" class="btn-primary" (click)="hideElement()">Optimiza una campaña</button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" style="display: none">{{cardData.id}}</div>

<app-campaign-system *ngIf="show" [cardData]=cardData></app-campaign-system>